<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Default.png</string>
				<string>Default@2x.png</string>
				<string>Default-Portrait~ipad.png</string>
				<string>Default-Portrait@2x~ipad.png</string>
				<string>Default-Landscape~ipad.png</string>
				<string>Default-Landscape@2x~ipad.png</string>
				<string>57px.png</string>
				<string>114px.png</string>
				<string>72px.png</string>
				<string>144px.png</string>
				<string>Default.png</string>
				<string>Default.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>Triangle.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Pacifico.ttf</string>
		<string>Centure.ttf</string>
		<string>Sofia-Regular.otf</string>
		<string>Amaranth-Bold.otf</string>
		<string>Amaranth-BoldItalic.otf</string>
		<string>Amaranth-Italic.otf</string>
		<string>Amaranth.otf</string>
		<string>Arimo-Bold-Latin.ttf</string>
		<string>Arimo-BoldItalic-Latin</string>
		<string>Arimo-Italic-Latin.ttf</string>
		<string>Arimo-Regular-Latin</string>
		<string>Blokletters-Balpen.ttf</string>
		<string>Blokletters-Potlood.ttf</string>
		<string>Blokletters-Viltstift.ttf</string>
		<string>CabinSketch-Bold.otf</string>
		<string>CabinSketch-Regular.otf</string>
		<string>Chantelli_Antiqua.ttf</string>
		<string>DancingScript-Regular.otf</string>
		<string>desyrel.ttf</string>
		<string>EastMarket.ttf</string>
		<string>Inconsolata.otf</string>
		<string>jr!ha___.ttf</string>
		<string>lmroman10-bold.otf</string>
		<string>lmroman10-bolditalic.otf</string>
		<string>lmroman10-italic.otf</string>
		<string>lmroman10-regular.otf</string>
		<string>lmromancaps10-oblique.otf</string>
		<string>lmromandemi10-regular.otf</string>
		<string>lmromandunh10-oblique.otf</string>
		<string>lmromandunh10-regular.otf</string>
		<string>lmromanslant10-bold.otf</string>
		<string>lmromanslant10-regular.otf</string>
		<string>Lilly__.ttf</string>
		<string>mountains-of-christmas.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>OpenSans-SemiboldItalic.ttf</string>
		<string>SF_Cartoonist_Hand.ttf</string>
		<string>SF_Cartoonist_Hand_Bold.ttf</string>
		<string>SF_Cartoonist_Hand_Bold_Italic.ttf</string>
		<string>SF_Cartoonist_Hand_Italic.ttf</string>
		<string>SF_Cartoonist_Hand_SC.ttf</string>
		<string>SF_Cartoonist_Hand_SC_Bold.ttf</string>
		<string>SF_Cartoonist_Hand_SC_Bold_Italic.ttf</string>
		<string>SF_Cartoonist_Hand_SC_Italic.ttf</string>
		<string>SF_Slapstick_Comic.ttf</string>
		<string>Sofia-Regular.otf</string>
		<string>texgyrecursor-bold.otf</string>
		<string>texgyrecursor-bolditalic.otf</string>
		<string>texgyrecursor-italic.otf</string>
		<string>texgyrecursor-regular.otf</string>
		<string>Wagnasty.ttf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard_iPhone</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MainStoryboard_iPad</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
